body {
 margin:0;
 left: 0;
}
.icon-bar {
top: 77px;
margin: 0;
padding: 0;
width: 70px;
background-color: #F8F9FA;
position: absolute;
height: 100%;
overflow: auto;
left: 0;

}
.icon-bar .navbar-brand {
  display: block;
  text-align: left;
  padding: 16px;
  transition: all 0.3s ease;
  color: #0B5ED7;
  font-size: 25px;
}
.icon-bar .navbar-brand:hover {
  background-color: rgb(183, 212, 223);
}
