.banner {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
  }
  .banner .content {
    text-align: center;
    width: 50rem;
    margin-left: 390px;
    margin-bottom: 50px;
  }
  .banner .content h3 {
    font-size: 3rem;
    color: black;
  }
  .banner .content span {
    color: rgb(31, 109, 14);
  }
  .banner .content p {
    margin-bottom: 70px;
    padding: 2rem 0;
    font-size: 1.6rem;
    color: rgb(0, 39, 182);
    
  }
  .banner .content button:hover {
    border: none;
    color: #fff;
    background: rgb(161, 171, 212);

  }
  