/* .search{
margin: 0;
padding: 0;

} */

.searchInputs {
    margin-top: 50px;
    display: flex;
    margin-bottom: 2rem;

  }

.search input {
    float: left;
    width: 30%;
    background-color: rgb(222, 222, 245);
    border-radius: 4px 0 0 4px;
    border: 1px solid #5d0cff;
    padding: 5px;
    outline: none;
    /* margin-left: 90px; */

}
.search input::placeholder{
    color: #3b3838;
  }

.searchIcon{

    border: 1px solid #5d0cff;
    background-color: rgb(222, 222, 245);
    height: 50px;
    width: 40px;
    display: grid;
    place-items: center;
    color: rgb(34, 32, 32);
    cursor: pointer;
    border-radius: 0 4px 4px 0;

}
.search-result{
    background-color: rgb(255, 255, 255);

}